.form {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  gap: 1.5rem;
  margin: 2rem auto;
  & > div:first-child > label:first-of-type {
    margin-right: 4rem;
  }
  & .controls-group,
  & .control-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 1rem;
    width: 100%;
  }
  label {
    color: #777;
    margin-left: 0.5rem;
  }
  input:not([type="radio"]),
  textarea {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #eee;
    font-size: 1.2rem;
  }
  input:not([type="radio"]):focus,
  textarea:focus {
    outline: none;
    background-color: #ddd;
  }
}

@media screen and (min-width: 760px) {
  .form .controls-group {
    flex-direction: row;
    flex-basis: 100%;
  }
}
