.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 20%;
  & > div:first-child > label:first-of-type {
    margin-right: 4rem;
  }
  & > div:not(:first-child) {
    display: flex;
    flex-direction: column;
  }
  label {
    color: #333;
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
  }
  input:not([type="radio"]) {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #555;
  }
  input:not([type="radio"]):focus {
    outline: 1px solid blue;
  }
}
