<form class="form">
  <div>
    <input type="radio" name="client" value="private" id="private" checked />
    <label for="private">Private customer</label>
    <input type="radio" name="client" value="business" id="business" />
    <label for="business">Business customer</label>
  </div>
  <div><label for="fName">First Name</label><input type="text" /></div>
  <div><label for="lName">Last Name</label><input type="text" /></div>
  <div><label for="email">Email</label><input type="email" /></div>
  <div><label for="country">Country</label><input type="text" /></div>
  <div><label for="city">City</label><input type="text" /></div>
  <div><label for="address">Address</label><input type="text" /></div>
</form>
