<form class="form" [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
  <fieldset formGroupName="customerDetails">
    <legend>Customer</legend>
    <div class="controls-group">
      <div>
        <input
          type="radio"
          name="VATPayer"
          value="private"
          id="private"
          formControlName="VATPayer"
          checked
        />
        <label for="private">Private customer</label>
      </div>
      <div>
        <input
          type="radio"
          name="VATPayer"
          value="business"
          formControlName="VATPayer"
          id="business"
        />
        <label for="business">Business customer</label>
      </div>
    </div>
    <div class="controls-group">
      <div class="control-group">
        <label for="fName">First Name</label>
        <input type="text" formControlName="fName" />
        <span
          *ngIf="
            !invoiceForm.get('customerDetails.fName')?.valid &&
            invoiceForm.get('customerDetails.fName')?.touched
          "
          class="invalid-msg"
        >
          <span
            *ngIf="invoiceForm.get('customerDetails.fName')!.errors?.['required']"
            >This field is required!</span
          >
        </span>
      </div>
      <div class="control-group">
        <label for="lName">Last Name</label>
        <input type="text" formControlName="lName" />
        <span
          *ngIf="
            !invoiceForm.get('customerDetails.lName')?.valid &&
            invoiceForm.get('customerDetails.lName')?.touched
          "
          class="invalid-msg"
        >
          <span
            *ngIf="invoiceForm.get('customerDetails.lName')!.errors?.['required']"
            >This field is required!</span
          >
        </span>
      </div>
    </div>
    <div class="control-group">
      <label for="email">Email</label>
      <input type="email" formControlName="email" />
      <span
        *ngIf="
          !invoiceForm.get('customerDetails.email')?.valid &&
          invoiceForm.get('customerDetails.email')?.touched
        "
        class="invalid-msg"
      >
        <span
          *ngIf="invoiceForm.get('customerDetails.email')!.errors?.['email']"
          >Invalid email!</span
        >
        <span
          *ngIf="invoiceForm.get('customerDetails.email')!.errors?.['required']"
          >This field is required!</span
        >
      </span>
    </div>
    <div
      class="control-group"
      *ngIf="invoiceForm.get('customerDetails.VATPayer')?.value === 'business'"
    >
      <label for="company">Company</label>
      <input type="company" formControlName="company" />
      <span
        *ngIf="
          !invoiceForm.get('customerDetails.company')?.valid &&
          invoiceForm.get('customerDetails.company')?.touched
        "
        class="invalid-msg"
      >
        <span
          *ngIf="invoiceForm.get('customerDetails.company')!.errors?.['required']"
          >This field is required!</span
        >
      </span>
    </div>
    <div class="controls-group">
      <div class="control-group">
        <label for="country">Country</label>
        <select type="search" formControlName="country">
          <option *ngFor="let country of countries" [value]="country">
            {{ country }}
          </option>
        </select>
      </div>
      <div class="control-group">
        <label for="city">City</label>
        <input type="text" formControlName="city" />
        <span
          *ngIf="
            !invoiceForm.get('customerDetails.city')?.valid &&
            invoiceForm.get('customerDetails.city')?.touched
          "
          class="invalid-msg"
        >
          <span
            *ngIf="invoiceForm.get('customerDetails.city')!.errors?.['required']"
            >This field is required!</span
          >
        </span>
      </div>
    </div>
    <div class="control-group">
      <label for="address">Address</label
      ><textarea type="text" rows="3" formControlName="address"></textarea>
      <span
        *ngIf="
          !invoiceForm.get('customerDetails.address')?.valid &&
          invoiceForm.get('customerDetails.address')?.touched
        "
        class="invalid-msg"
      >
        <span
          *ngIf="invoiceForm.get('customerDetails.address')!.errors?.['required']"
          >This field is required!</span
        >
      </span>
    </div>
  </fieldset>
  <fieldset formGroupName="serviceProvider">
    <legend>Service provider</legend>
    <div class="control-group">
      <label for="name">Service Name</label>
      <input type="name" formControlName="name" />
      <span
        *ngIf="
          !invoiceForm.get('serviceProvider.name')?.valid &&
          invoiceForm.get('serviceProvider.name')?.touched
        "
        class="invalid-msg"
      >
        <span
          *ngIf="invoiceForm.get('serviceProvider.name')!.errors?.['required']"
          >This field is required!</span
        >
      </span>
    </div>
    <div class="controls-group">
      <div class="control-group">
        <label for="sCountry">Country</label>
        <select type="search" formControlName="sCountry">
          <option *ngFor="let country of countries" [value]="country">
            {{ country }}
          </option>
        </select>
      </div>
      <div class="control-group">
        <label for="sCity">City</label>
        <input type="text" formControlName="sCity" />
        <span
          *ngIf="
            !invoiceForm.get('serviceProvider.sCity')?.valid &&
            invoiceForm.get('serviceProvider.sCity')?.touched
          "
          class="invalid-msg"
        >
          <span
            *ngIf="invoiceForm.get('serviceProvider.sCity')!.errors?.['required']"
            >This field is required!</span
          >
        </span>
      </div>
    </div>
    <div class="control-group">
      <label for="sAddress">Address</label
      ><textarea type="text" rows="3" formControlName="sAddress"></textarea>
      <span
        *ngIf="
          !invoiceForm.get('serviceProvider.sAddress')?.valid &&
          invoiceForm.get('serviceProvider.sAddress')?.touched
        "
        class="invalid-msg"
      >
        <span
          *ngIf="invoiceForm.get('serviceProvider.sAddress')!.errors?.['required']"
          >This field is required!</span
        >
      </span>
    </div>
  </fieldset>
  <fieldset>
    <legend>Services</legend>
    <app-product-list></app-product-list>
  </fieldset>
  <button [disabled]="!invoiceForm.valid">Submit</button>
</form>
