<fieldset [formGroup]="customerDetails">
  <legend>Customer</legend>
  <div class="controls-group">
    <div>
      <input
        type="radio"
        name="VATPayer"
        value="private"
        id="private"
        formControlName="VATPayer"
        checked
      />
      <label for="private">Private customer</label>
    </div>
    <div>
      <input
        type="radio"
        name="VATPayer"
        value="business"
        formControlName="VATPayer"
        id="business"
      />
      <label for="business">Business customer</label>
    </div>
  </div>
  <div class="controls-group">
    <div class="control-group">
      <label for="fName">First Name</label>
      <input type="text" formControlName="fName" />
      <span
        *ngIf="
          !customerDetails.get('fName')?.valid &&
          customerDetails.get('fName')?.touched
        "
        class="invalid-msg"
      >
        <span *ngIf="customerDetails.get('fName')!.errors?.['required']"
          >This field is required!</span
        >
      </span>
    </div>
    <div class="control-group">
      <label for="lName">Last Name</label>
      <input type="text" formControlName="lName" />
      <span
        *ngIf="
          !customerDetails.get('lName')?.valid &&
          customerDetails.get('lName')?.touched
        "
        class="invalid-msg"
      >
        <span *ngIf="customerDetails.get('lName')!.errors?.['required']"
          >This field is required!</span
        >
      </span>
    </div>
  </div>
  <div class="control-group">
    <label for="email">Email</label>
    <input type="email" formControlName="email" />
    <span
      *ngIf="
        !customerDetails.get('email')?.valid &&
        customerDetails.get('email')?.touched
      "
      class="invalid-msg"
    >
      <span *ngIf="customerDetails.get('email')!.errors?.['email']"
        >Invalid email!</span
      >
      <span *ngIf="customerDetails.get('email')!.errors?.['required']"
        >This field is required!</span
      >
    </span>
  </div>
  <div
    class="control-group"
    *ngIf="customerDetails.get('VATPayer')?.value === 'business'"
  >
    <label for="company">Company</label>
    <input type="company" formControlName="company" />
    <span
      *ngIf="
        !customerDetails.get('company')?.valid &&
        customerDetails.get('company')?.touched
      "
      class="invalid-msg"
    >
      <span *ngIf="customerDetails.get('company')!.errors?.['required']"
        >This field is required!</span
      >
    </span>
  </div>
  <div class="controls-group">
    <div class="control-group">
      <label for="country">Country</label>
      <select type="search" formControlName="country">
        <option *ngFor="let country of countries" [value]="country.code">
          {{ country.name }}
        </option>
      </select>
      <span
        *ngIf="
          !customerDetails.get('country')?.valid &&
          customerDetails.get('country')?.touched
        "
        class="invalid-msg"
      >
        <span *ngIf="customerDetails.get('country')!.errors?.['required']"
          >This field is required!</span
        >
      </span>
    </div>
    <div class="control-group">
      <label for="city">City</label>
      <input type="text" formControlName="city" />
      <span
        *ngIf="
          !customerDetails.get('city')?.valid &&
          customerDetails.get('city')?.touched
        "
        class="invalid-msg"
      >
        <span *ngIf="customerDetails.get('city')!.errors?.['required']"
          >This field is required!</span
        >
      </span>
    </div>
  </div>
  <div class="control-group">
    <label for="address">Address</label
    ><textarea type="text" rows="3" formControlName="address"></textarea>
    <span
      *ngIf="
        !customerDetails.get('address')?.valid &&
        customerDetails.get('address')?.touched
      "
      class="invalid-msg"
    >
      <span *ngIf="customerDetails.get('address')!.errors?.['required']"
        >This field is required!</span
      >
    </span>
  </div>
</fieldset>
