<form
  *ngIf="!isSubmitted"
  class="form"
  [formGroup]="invoiceForm"
  (ngSubmit)="onSubmit()"
>
  <h1>Invoice Form</h1>
  <app-customer-details
    [invoiceForm]="invoiceForm"
    [countries]="countries.length === 0 ? countryRates : countries"
  ></app-customer-details>

  <app-service-provider
    [invoiceForm]="invoiceForm"
    [countries]="countryRates"
    [vatRate]="vatRate"
  ></app-service-provider>

  <button [disabled]="!invoiceForm.valid">Submit</button>
</form>

<app-invoice
  *ngIf="isSubmitted"
  [customer]="invoiceForm.get('customerDetails')?.value"
  [service]="invoiceForm.get('serviceProvider')?.value"
  [tax]="vatRate"
  [countries]="countries"
></app-invoice>
