<fieldset [formGroup]="serviceProvider">
  <legend>Service provider</legend>
  <div style="margin: 0.7rem">
    <input type="checkbox" formControlName="isVATPayer" id="sVatPayer" />
    <label for="sVatPayer">Service VAT Payer</label>
  </div>
  <div class="control-group">
    <label for="name">Service Name</label>
    <input type="name" formControlName="name" />
    <span
      *ngIf="
        !serviceProvider.get('name')?.valid &&
        serviceProvider.get('name')?.touched
      "
      class="invalid-msg"
    >
      <span *ngIf="serviceProvider.get('name')!.errors?.['required']"
        >This field is required!</span
      >
    </span>
  </div>
  <div class="controls-group">
    <div class="control-group">
      <label for="sCountry">Country</label>
      <select type="search" formControlName="sCountry">
        <option *ngFor="let country of countries" [value]="country.code">
          {{ country.name }}
        </option>
      </select>
      <span
        *ngIf="
          !serviceProvider.get('sCountry')?.valid &&
          serviceProvider.get('sCountry')?.touched
        "
        class="invalid-msg"
      >
        <span *ngIf="serviceProvider.get('sCountry')!.errors?.['required']"
          >This field is required!</span
        >
      </span>
    </div>
    <div class="control-group">
      <label for="sCity">City</label>
      <input type="text" formControlName="sCity" />
      <span
        *ngIf="
          !serviceProvider.get('sCity')?.valid &&
          serviceProvider.get('sCity')?.touched
        "
        class="invalid-msg"
      >
        <span *ngIf="serviceProvider.get('sCity')!.errors?.['required']"
          >This field is required!</span
        >
      </span>
    </div>
  </div>
  <div class="control-group">
    <label for="sAddress">Address</label
    ><textarea type="text" rows="3" formControlName="sAddress"></textarea>
    <span
      *ngIf="
        !serviceProvider.get('sAddress')?.valid &&
        serviceProvider.get('sAddress')?.touched
      "
      class="invalid-msg"
    >
      <span *ngIf="serviceProvider.get('sAddress')!.errors?.['required']"
        >This field is required!</span
      >
    </span>
  </div>
</fieldset>

<app-services
  [serviceProvider]="serviceProvider"
  [vatRate]="vatRate"
></app-services>
