/* You can add global styles to this file, and also import other style files */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  line-height: 1;
  margin: 0 2%;
  background-color: rgba(255, 255, 240, 0.529);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-block: 2rem;
}

button {
  width: max-content;
  padding: 1rem;
  margin: 2rem auto 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #c2fbd7;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.2rem;
  color: green;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 200ms ease;
}

button:is(:active, :focus):not(:disabled) {
  outline: 1px solid green;
}

button:hover:not(:disabled) {
  scale: 1.1;
}

button:disabled {
  background-color: #ccc;
  color: #777;
  cursor: default;
}
